.DS_Store
venv
__pycache__
/static/
#/src/server/demo/static/demo/client/
targets/createdb
targets/install
targets/makemigrations
targets/migrate
targets/requirements
targets/superuser
targets/test_data
